@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Montserrat', sans-serif; */

.page_hldr{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 3em;
}

.heading{
    margin: 0 0 2em 0;
}

.title{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Montserrat', sans-serif;

}

.title h1{
    font-size: 32px;
    font-weight: 600;
    margin: 0.2em 0 0.2em 0.2em;
}

.heading p{
    margin: 0;
    font-size: 24px;
    font-weight: 400;
}