@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

.page_hldr{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

.sec_1{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0 7em;
}

.sec_1 .content{
    width: 50%;
}

.content h1{
    font-size: 40px;
}

.content span{
    color: #9556D3;
}

.content p{
    padding: 0 10em 0 0;
}

.sec_2{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 3em;
    margin: 8em 0 0 0em;
}

.sec_2 .steps{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.sec_2 .step{
    width: 100%;
    height: 20em;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    text-align: center;
    padding: 2em 0em;
    margin: 0 1.5em;
}

.step .desc h3{
    font-size: 20px;
    font-weight: 600;
}

.step .desc p{
    font-size: 16px;
}