@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

.courseList{
    font-family: 'Inter', sans-serif;
    max-width: 1500px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
}

.flex_row{
    /* display: flex;
    flex-direction: row;
    align-items: center; */
    display: grid;
    grid-template-columns: repeat(4, minmax(0px, 1fr));
    grid-row-gap: 1.5rem;
    width: 100%;
    /* overflow-x: scroll;
    overflow-y: hidden; */
    /* padding: 1em 0.8em; */
}

.courseList h3{
    font-size: 24px;
}