@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

.page_hldr{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form_hldr{
    text-align: center;
    padding: 30px 80px;
    background: linear-gradient(128.42deg, rgba(79, 0, 255, 0.2) 3.21%, rgba(214, 138, 251, 0.2) 10.31%, rgba(255, 255, 255, 0) 18.43%), #FFFFFF;
    box-shadow: 10px 10px 99px 20px rgba(161, 188, 214, 0.25);
    border-radius: 10px;

}

.form_hldr h1{
    text-align: center;
    font-family:'Montserrat', sans-serif ;
    font-size:28px;
    font-weight: 700;
    letter-spacing: 0.005em;
    background: linear-gradient(94.68deg, #F54B94 8.12%, #9838f7 53.33%, rgba(26, 90, 226, 0.75) 94.07%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    cursor: pointer;
}

.forms{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.form{
    margin: 2em 0  2.5em 0  ;
    position: relative;
    width: 30em;
}

.input_form{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    padding: 1.25em;
    outline: none;
    background: none;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    transition: 0.2s all ease;
}

.input_form:focus{
    border: 1px solid #6B37FF;
}

.form_label{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18px;
    position: absolute;
    top: -10px;
    left: 14px;
    padding: 0 5px;
    background: #fff;
    transition: 0.2s all ease;
}

.input_form:focus+label{
    color: #6B37FF;
}

.wallet{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.wallet>h3{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    margin-left: 0.5em;
}

.connect{
    width: 100%;
}

.connect>button{
    width: 100%;
    padding: 4px 100px;
    /* background: linear-gradient(90deg, #3B3ADF 0.97%, #D24EA6 99.89%); */
    background: #6B37FF;
    border-radius: 10px;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.005em;
    font-family:'Montserrat', sans-serif ;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 1.5em 0 0;
}

.form_hldr>p{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.005em;
    padding:0 0 0.5em 0;
    margin: 0 0 1em 0;
}

.continue{
    width: 100%;
}
.continue>button{
    width: 100%;
    padding: 20px 100px;
    /* background: linear-gradient(90deg, #3B3ADF 0.97%, #D24EA6 99.89%); */
    background: #6B37FF;
    border-radius: 10px;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    letter-spacing: 0.01em;
    font-family:'Montserrat', sans-serif ;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 1.5em 0;
}

.continue>button:hover,
.continue>button:focus{
    transform: scale3d(1.01, 1.01, 5);
}

.line{
    position: relative;
    width: 100%;
}

.line::before{
    content: "";
    width: 47%;
    height: 2px;
    background: #E0E0E0;
    display: block;
    position: absolute;
    left: 0;
    top: 60%;
}

.line::after{
    content: "";
    width: 47%;
    height: 2px;
    background: #E0E0E0;
    display: block;
    position: absolute;
    right: 0;
    top: 60%;
}

.footer{
    text-align: center;
    margin-top: 5em;
    font-size: 14px;
}

.signup a{
    color: #6B37FF;
    text-decoration: underline;
    width: 100%;
    margin-left: 0.2em;
}

