@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

/* .container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
  } */



.profile_hldr{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.profile_hldr h3,
.profile_hldr h4,
.profile_hldr h5,
.profile_hldr p{
    margin: 0;
}

.left_side{
    /* flex: 1; */
    min-width: 770px;
    font-family:'Montserrat', sans-serif ;
}

.card__hldr{
    min-width: 712px;
    display: flex;
    flex-direction: column;
    justify-content:left;
    align-items: flex-start;
    padding: 40px 30px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-bottom: 2em;
}


.card__hldr h3{
    font-size: 1.35em;
    font-weight: 700;
}

.card__hldr p{
    font-size: 1.1em;
    font-weight: 400;
}

.card__hldr .add__but{
    width: 100%;
    padding: 0.65em 1.25em;
    font-family:'Montserrat', sans-serif;
    font-size: 1.15em;
    font-weight: 600;
    letter-spacing: 0.005em;
    background: #EDF2F6;
    border-radius: 10px;
    border: none;
    outline: none;
    margin-top: 1em;
    transition: 0.5s all ease;
}

.add__but:hover{
    box-shadow: 0 0 11px rgba(62, 62, 62, 0.2)
}


/* Banner */
.banner{
    width: 100%;
    height: 233px;
    background: linear-gradient(94.08deg, #D8CAFF -3.96%, #B9FFEA 104.83%);
    border-radius: 10px;
    margin: 25px 0;
    position: relative;
}

.banner .edit__icon{
    position: absolute;
    right: 1em;
    top: 1em;
    cursor: pointer;
    z-index: 100000;
}

.banner img{
    width: 100%;
    max-width: 710px;
    height: 233px;
    border-radius: 10px;
    object-fit:cover;
    z-index: -100000;
}

.form{
    display: none;
}



/* Input Info */
.input__info{
    width: 100%;
}

.input__info .first__info{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.input__info .first__info .prfile__hldr{
    background: #EEE8FF;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 30px;
}

.fname{
    flex: 1;
}

.input__form{
    margin-top: 1.3em;
}

.input__form h4{
    font-size: 1.1em;
    font-weight: 600;
}

.input__form .input{
    display: block;
    width: 100%;
    margin: 0.5em 0 0 0;
    padding: 0.8em 1.2em;
    border: 1px solid #CACACA;
    outline: none;
    border-radius: 0.4rem;
    font-size: 1em;
    letter-spacing: 0.005em;
    transition: 0.3s all ease;
}

.input:focus{
    /* border: 1px solid #6B37FF; */
    border: 1px solid #6a6a6a;
}


/* Socials */
.levels{
    width: 100%;
}

.levels .level__n{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.social_input__form:nth-last-child(1){
    margin-left: 1em;
}

.levels .text__flex{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.text__flex h4{
    margin-left: 0.5em;
}

.social_input__form {
    width: 100%;
}


/* Logout */
.logout__section {
    margin:2em 0;
}
.logout__section .add__but{
    width: 100%;
    padding: 0.65em 1.25em;
    font-family:'Montserrat', sans-serif;
    font-size: 1.15em;
    font-weight: 600;
    letter-spacing: 0.005em;
    background: #EDF2F6;
    border-radius: 10px;
    border: none;
    outline: none;
    transition: 0.5s all ease;
}




/* .right_side{

} */