@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

.page_hldr{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form_hldr{
    text-align: center;
    padding: 30px 80px;
    background: linear-gradient(128.42deg, rgba(79, 0, 255, 0.2) 3.21%, rgba(214, 138, 251, 0.2) 10.31%, rgba(255, 255, 255, 0) 18.43%), #FFFFFF;
    box-shadow: 10px 10px 99px 20px rgba(161, 188, 214, 0.25);
    border-radius: 10px;

}

.form_hldr h1{
    text-align: center;
    font-family:'Montserrat', sans-serif ;
    font-size:28px;
    font-weight: 700;
    letter-spacing: 0.005em;
    background: linear-gradient(94.68deg, #F54B94 8.12%, #9838f7 53.33%, rgba(26, 90, 226, 0.75) 94.07%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    cursor: pointer;
}

.wallet{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.wallet>h3{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    margin-left: 0.5em;
}

.form_hldr>p{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.005em;
    padding:0 0 0.5em 0;
    margin: 0 0 1em 0;
}

.connect>button{
    width: 100%;
    padding: 20px 100px;
    /* background: linear-gradient(90deg, #3B3ADF 0.97%, #D24EA6 99.89%); */
    background: #6B37FF;
    border-radius: 10px;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.005em;
    font-family:'Montserrat', sans-serif ;
    border: none;
    outline: none;
    cursor: pointer;
}

.connect>button:hover,
.connect>button:focus{
    transform: scale3d(1.01, 1.01, 5);
}

.skip{
    text-align: right;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #6B37FF;
    font-size: 18px;
    padding: 0.5em 0;
    cursor: pointer;
    transition: 0.5s all ease;
}

.skip:hover{
    text-decoration: underline;
}

.footer{
    text-align: center;
    margin-top: 5em;
    font-size: 14px;
}